<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dingshuangwu.graduation.graduationo2o.mapper.ApplyMapper">

    <select id="getAllApply" resultType="dingshuangwu.graduation.graduationo2o.pojo.ApplyVO">
        select
        t.author_name as `authorName`,
        t.area_name as `cityName`,
        t.category_name as `jobName`,
        t.salary as `salary`,
        t.contact_way as  `contactWay`
        from
        ${tableName} t
        where t.flag='normal'
        <if test='map.provice!=null &amp;&amp; !"".equals(map.provice)'>
        and t.area_parent_id=#{map.provice}
        </if>
        <if test='map.city!=null &amp;&amp; !"".equals(map.city)'>
        and t.area_id=#{map.city}
        </if>
        <if test='map.job!=null &amp;&amp; !"".equals(map.job)'>
        and t.category_id=#{map.job}
        </if>
        <if test='map.jobType!=null &amp;&amp; !"".equals(map.jobType)'>
        and t.category_parent_id=#{map.jobType}
        </if>
        order by
        t.create_date
        desc
    </select>
    <select id="getMyApply" resultType="dingshuangwu.graduation.graduationo2o.pojo.ApplyVO">
        select
        t.id as `id`,
        t.area_name as `cityName`,
        t.category_name as `jobName`,
        t.salary as `salary`,
        t.contact_way as  `contactWay`
        from
        ${tableName} t
        where t.author_id=#{id}
        and t.flag='normal'
        order by
        t.create_date
        desc
     </select>

    <insert id="addMyApply">
        insert into
        ${tableName} (author_id,author_name,area_id,area_name,area_parent_id,area_parent_name,category_id,category_name,
        category_parent_id,category_parent_name,salary,contact_way,create_date,flag)
        values(#{map.authorId},#{map.authorName},#{map.city},#{map.cityName},#{map.provice},#{map.proviceName},#{map.job},#{map.jobName},
        #{map.jobType},#{map.jobTypeName},#{map.salary},#{map.contactWay},#{map.createDate},#{map.flag})
    </insert>
    <insert id="updateMyApply">
        insert into
        ${tableName} (author_id,author_name,area_id,area_name,area_parent_id,area_parent_name,category_id,category_name,
        category_parent_id,category_parent_name,salary,contact_way,create_date,flag)
        values(#{map.authorId},#{map.authorName},#{map.city},#{map.cityName},#{map.provice},#{map.proviceName},#{map.job},#{map.jobName},
        #{map.jobType},#{map.jobTypeName},#{map.salary},#{map.contactWay},#{map.createDate},#{map.flag})
    </insert>
</mapper>