<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dingshuangwu.graduation.graduationo2o.mapper.MyResumeMapper">
<select id="getMyResumeAll" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.MyResumeAllVO">
    select
    t.name as `name`,
    t.sex as  `sex`,
    t.birthday as `birthday`,
    t.work_time as `workTime`,
    t.education_background as `educationBackground`,
    t.area as `area`,
    t.telephone as `telephone`,
    t.email as `email`,
    t.expertise as `expertise`,
    t.expected_work_first_job as `expectedWorkFirstJob`,
    t.expected_work_first_salary as `expectedWorkFirstSalary`,
    t.expected_work_first_area as `expectedWorkFirstArea`,
    t.expected_work_second_job as `expectedWorkSecondJob`,
    t.expected_work_second_salary as `expectedWorkSecondSalary`,
    t.expected_work_second_area as `expectedWorkSecondArea`,
    t.expected_work_third_job as `expectedWorkThirdJob`,
    t.expected_work_third_salary as `expectedWorkThirdSalary`,
    t.expected_work_third_area as `expectedWorkThirdArea`,
    t.work_experience as `workExperience`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id=#{id}
</select>
<select id="getMyResumeInfo" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.MyResumeInfoVO">
    select
    t.name as `name`,
    t.sex as  `sex`,
    t.birthday as `birthday`,
    t.work_time as `workTime`,
    t.education_background as `educationBackground`,
    t.area as `area`,
    t.telephone as `telephone`,
    t.email as `email`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id = #{id}
</select>
<update id="setMyResumeInfo">
    update
    ${tableName} t
    set t.name = #{map.name},
    t.sex = #{map.sex},
    t.birthday = #{map.birthday},
    t.work_time = #{map.workTime},
    t.education_background = #{map.educationBackground},
    t.area = #{map.area},
    t.telephone = #{map.telephone},
    t.email = #{map.email},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
</update>
<select id="getMyResumeExpertise" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.MyResumeExpertiseVO">
    select
    t.expertise as `expertise`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id = #{id}
</select>
<update id="setMyResumeExpertise">
    update
    ${tableName} t
    set  t.expertise = #{map.expertise},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
</update>
<select id="getMyResumeExpectedWork" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.MyResumeExpectedWorkVO">
    select
    t.expected_work_first_job as `expectedWorkFirstJob`,
    t.expected_work_first_salary as `expectedWorkFirstSalary`,
    t.expected_work_first_area as `expectedWorkFirstArea`,
    t.expected_work_second_job as `expectedWorkSecondJob`,
    t.expected_work_second_salary as `expectedWorkSecondSalary`,
    t.expected_work_second_area as `expectedWorkSecondArea`,
    t.expected_work_third_job as `expectedWorkThirdJob`,
    t.expected_work_third_salary as `expectedWorkThirdSalary`,
    t.expected_work_third_area as `expectedWorkThirdArea`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id=#{id}
</select>
<update id="setMyResumeExpectedWork">
    update
    ${tableName} t
    set t.expected_work_first_job = #{map.expectedWorkFirstJob},
    t.expected_work_first_salary = #{map.expectedWorkFirstSalary},
    t.expected_work_first_area = #{map.expectedWorkFirstArea},
    t.expected_work_second_job = #{map.expectedWorkSecondJob},
    t.expected_work_second_salary = #{map.expectedWorkSecondSalary},
    t.expected_work_second_area = #{map.expectedWorkSecondArea},
    t.expected_work_third_job = #{map.expectedWorkThirdJob},
    t.expected_work_third_salary = #{map.expectedWorkThirdSalary},
    t.expected_work_third_area = #{map.expectedWorkThirdArea},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
</update>
<select id="getMyResumeWorkExperience" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.MyResumeWorkExperienceVO">
    select
    t.work_experience as `workExperience`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id=#{id}
</select>
<update id="setMyResumeWorkExperience">
    update
    ${tableName} t
    set t.work_experience = #{map.workExperience},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
</update>
<select id="getSomeBodyResumeById" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.SomeBodyResumeVO">
    select
    t.name as `name`,
    t.sex as  `sex`,
    t.birthday as `birthday`,
    t.work_time as `workTime`,
    t.education_background as `educationBackground`,
    t.area as `area`,
    t.telephone as `telephone`,
    t.email as `email`,
    t.expertise as `expertise`,
    t.expected_work_first_job as `expectedWorkFirstJob`,
    t.expected_work_first_salary as `expectedWorkFirstSalary`,
    t.expected_work_first_area as `expectedWorkFirstArea`,
    t.expected_work_second_job as `expectedWorkSecondJob`,
    t.expected_work_second_salary as `expectedWorkSecondSalary`,
    t.expected_work_second_area as `expectedWorkSecondArea`,
    t.expected_work_third_job as `expectedWorkThirdJob`,
    t.expected_work_third_salary as `expectedWorkThirdSalary`,
    t.expected_work_third_area as `expectedWorkThirdArea`,
    t.work_experience as `workExperience`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id=#{id}
</select>

</mapper>