<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dingshuangwu.graduation.graduationo2o.mapper.RootManagementMapper">
    <select id="getJurisdictionByName" resultType="dingshuangwu.graduation.graduationo2o.pojo.JurisdictionVO">
        select
        t.name as `name`,
        t.management as `management`,
        t.publish as `publish`,
        t.apply as `apply`,
        t.my_publish as `myPublish`,
        t.my_apply as `myApply`,
        t.login as `login`
        from
        ${tableName} t
        <if test="name!=null">
            where t.name like "%"#{name}"%"
        </if>
        order by
        t.id
        asc
    </select>
    <update id="setJurisdictionById">
        update
        ${tableName} t
        set t.management = #{map.management},
        t.publish = #{map.publish},
        t.apply = #{map.apply},
        t.my_publish = #{map.myPublish},
        t.my_apply = #{map.myApply},
        t.login = #{map.login}
        where t.id = #{map.id}
    </update>
    <select id="getUserInfoAll" resultType="dingshuangwu.graduation.graduationo2o.pojo.UserInformation.UserInformationAllVO">
        select
        t.name as `name`,
        t.nation as `nation`,
        t.sex as `sex`,
        t.birthday as `birthday`,
        t.education_background as `educationBackground`,
        t.telephone as `telephone`,
        t.email as `email`,
        t.image_url as `imageUrl`,
        t.self_introduction as `selfIntroduction`,
        t.education_experience_first_start_date as `educationExperienceFirstStartDate`,
        t.education_experience_first_end_date as `educationExperienceFirstEndDate`,
        t.education_experience_first_school as `educationExperienceFirstSchool`,
        t.education_experience_second_start_date as `educationExperienceSecondStartDate`,
        t.education_experience_second_end_date as `educationExperienceSecondEndDate`,
        t.education_experience_second_school as `educationExperienceSecondSchool`,
        t.education_experience_third_start_date as `educationExperienceThirdStartDate`,
        t.education_experience_third_end_date as `educationExperienceThirdEndDate`,
        t.education_experience_third_school as `educationExperienceThirdSchool`,
        t.self_signature as `selfSignature`,
        t.last_modify_date as `lastModifyDate`
        from
        ${tableName} t
        where t.id = #{id}
    </select>
    <select id="getUserInfo" resultType="dingshuangwu.graduation.graduationo2o.pojo.UserInformation.UserInfoVO">
    select
    t.name as `name`,
    t.nation as `nation`,
    t.sex as `sex`,
    t.birthday as `birthday`,
    t.image_url as `imageUrl`,
    t.education_background as `educationBackground`,
    t.telephone as `telephone`,
    t.email as `email`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id = #{id}
    </select>
    <update id="setUserInfo">
    update
    ${tableName} t
    set t.name = #{map.name},
    t.nation = #{map.nation},
    t.sex = #{map.sex},
    t.birthday = #{map.birthday},
    t.education_background = #{map.educationBackground},
    t.telephone = #{map.telephone},
    t.email = #{map.email},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
    </update>
    <select id="getUserImage" resultType="dingshuangwu.graduation.graduationo2o.pojo.UserInformation.UserImageVO">
    select
    t.image_url as `imageUrl`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id = #{id}
    </select>
    <update id="setUserImage">
    update
    ${tableName} t
    set t.image_url = #{map.imageUrl},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
    </update>
    <select id="getUserSelfIntroduction" resultType="dingshuangwu.graduation.graduationo2o.pojo.UserInformation.UserSelfIntroductionVO">
    select
    t.self_introduction as `selfIntroduction`,
    t.last_modify_date  as `lastModifyDate`
    from
    ${tableName} t
    where t.id = #{id}
    </select>
    <update id="setUserSelfIntroduction">
    update
    ${tableName} t
    set t.self_introduction = #{map.selfIntroduction},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
    </update>
    <select id="getUserEducationExperience" resultType="dingshuangwu.graduation.graduationo2o.pojo.UserInformation.UserEducationExperienceVO">
    select
    t.education_experience_first_start_date as `educationExperienceFirstStartDate`,
    t.education_experience_first_end_date as `educationExperienceFirstEndDate`,
    t.education_experience_first_school as `educationExperienceFirstSchool`,
    t.education_experience_second_start_date as `educationExperienceSecondStartDate`,
    t.education_experience_second_end_date as `educationExperienceSecondEndDate`,
    t.education_experience_second_school as `educationExperienceSecondSchool`,
    t.education_experience_third_start_date as `educationExperienceThirdStartDate`,
    t.education_experience_third_end_date as `educationExperienceThirdEndDate`,
    t.education_experience_third_school as `educationExperienceThirdSchool`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id = #{id}
    </select>
    <update id="setUserEducationExperience">
    update
    ${tableName} t
    set t.education_experience_first_start_date = #{map.educationExperienceFirstStartDate},
    t.education_experience_first_end_date = #{map.educationExperienceFirstEndDate},
    t.education_experience_first_school = #{map.educationExperienceFirstSchool},
    t.education_experience_second_start_date = #{map.educationExperienceSecondStartDate},
    t.education_experience_second_end_date = #{map.educationExperienceSecondEndDate},
    t.education_experience_second_school = #{map.educationExperienceSecondSchool},
    t.education_experience_third_start_date = #{map.educationExperienceThirdStartDate},
    t.education_experience_third_end_date = #{map.educationExperienceThirdEndDate},
    t.education_experience_third_school = #{map.educationExperienceThirdSchool},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
    </update>
    <select id="getUserSelfSignature"  resultType="dingshuangwu.graduation.graduationo2o.pojo.UserInformation.UserSelfSignatureVO">
    select
    t.self_signature as `selfSignature`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id = #{id}
    </select>
    <update id="setUserSelfSignature">
    update
    ${tableName} t
    set t.self_signature = #{map.selfSignature},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
    </update>
    <select id="getResumeInfoAll" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.MyResumeAllVO">
    select
    t.name as `name`,
    t.sex as  `sex`,
    t.birthday as `birthday`,
    t.work_time as `workTime`,
    t.education_background as `educationBackground`,
    t.area as `area`,
    t.telephone as `telephone`,
    t.email as `email`,
    t.expertise as `expertise`,
    t.expected_work_first_job as `expectedWorkFirstJob`,
    t.expected_work_first_salary as `expectedWorkFirstSalary`,
    t.expected_work_first_area as `expectedWorkFirstArea`,
    t.expected_work_second_job as `expectedWorkSecondJob`,
    t.expected_work_second_salary as `expectedWorkSecondSalary`,
    t.expected_work_second_area as `expectedWorkSecondArea`,
    t.expected_work_third_job as `expectedWorkThirdJob`,
    t.expected_work_third_salary as `expectedWorkThirdSalary`,
    t.expected_work_third_area as `expectedWorkThirdArea`,
    t.work_experience as `workExperience`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id = #{id}
    </select>
    <select id="getResumeInfo" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.MyResumeInfoVO">
    select
    t.name as `name`,
    t.sex as  `sex`,
    t.birthday as `birthday`,
    t.work_time as `workTime`,
    t.education_background as `educationBackground`,
    t.area as `area`,
    t.telephone as `telephone`,
    t.email as `email`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id = #{id}
    </select>
    <update id="setResumeInfo">
    update
    ${tableName} t
    set t.name = #{map.name},
    t.sex = #{map.sex},
    t.birthday = #{map.birthday},
    t.work_time = #{map.workTime},
    t.education_background = #{map.educationBackground},
    t.area = #{map.area},
    t.telephone = #{map.telephone},
    t.email = #{map.email},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
    </update>
    <select id="getResumeExpertise" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.MyResumeExpertiseVO">
    select
    t.expertise as `expertise`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id = #{id}
    </select>
    <update id="setResumeExpertise">
    update
    ${tableName} t
    set  t.expertise = #{map.expertise},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
    </update>
    <select id="getResumeExpectedWork" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.MyResumeExpectedWorkVO">
    select
    t.expected_work_first_job as `expectedWorkFirstJob`,
    t.expected_work_first_salary as `expectedWorkFirstSalary`,
    t.expected_work_first_area as `expectedWorkFirstArea`,
    t.expected_work_second_job as `expectedWorkSecondJob`,
    t.expected_work_second_salary as `expectedWorkSecondSalary`,
    t.expected_work_second_area as `expectedWorkSecondArea`,
    t.expected_work_third_job as `expectedWorkThirdJob`,
    t.expected_work_third_salary as `expectedWorkThirdSalary`,
    t.expected_work_third_area as `expectedWorkThirdArea`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id=#{id}
    </select>
    <update id="setResumeExpectedWork">
    update
    ${tableName} t
    set t.expected_work_first_job = #{map.expectedWorkFirstJob},
    t.expected_work_first_salary = #{map.expectedWorkFirstSalary},
    t.expected_work_first_area = #{map.expectedWorkFirstArea},
    t.expected_work_second_job = #{map.expectedWorkSecondJob},
    t.expected_work_second_salary = #{map.expectedWorkSecondSalary},
    t.expected_work_second_area = #{map.expectedWorkSecondArea},
    t.expected_work_third_job = #{map.expectedWorkThirdJob},
    t.expected_work_third_salary = #{map.expectedWorkThirdSalary},
    t.expected_work_third_area = #{map.expectedWorkThirdArea},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
    </update>
    <select id="getResumeWorkExperience" resultType="dingshuangwu.graduation.graduationo2o.pojo.MyResume.MyResumeWorkExperienceVO">
    select
    t.work_experience as `workExperience`,
    t.last_modify_date as `lastModifyDate`
    from
    ${tableName} t
    where t.id=#{id}
    </select>
    <update id="setResumeWorkExperience">
    update
    ${tableName} t
    set t.work_experience = #{map.workExperience},
    t.last_modify_date = #{map.lastModifyDate}
    where t.id = #{id}
    </update>
    <select id="getUserApply" resultType="dingshuangwu.graduation.graduationo2o.pojo.ApplyVO">
        select
        t.id as `id`,
        t.area_name as `cityName`,
        t.category_name as `jobName`,
        t.salary as `salary`,
        t.contact_way as  `contactWay`
        from
        ${tableName} t
        where t.author_id = #{authorId}
        and t.flag='normal'
        order by
        t.create_date
        desc
    </select>
    <update id="deleteUserApply">
        update
        ${tableName} t
        set
        t.flag = #{tableNameFlag}
        where
        t.id = #{id}
    </update>
    <select id="getUserPublish" resultType="dingshuangwu.graduation.graduationo2o.pojo.PublishVO">
        select
        t.id as `id`,
        t.area_name as `cityName`,
        t.category_name as `jobName`,
        t.salary as `salary`,
        t.contact_way as  `contactWay`
        from
        ${tableName} t
        where t.author_id = #{authorId}
        and t.flag='normal'
        order by
        t.create_date
        desc
    </select>
    <update id="deleteUserPublish">
        update
        ${tableName} t
        set
        t.flag=#{tableNameFlag}
        where
        t.id = #{id}
    </update>
    <select id="getRealNameAuthentication" resultType="dingshuangwu.graduation.graduationo2o.pojo.RealNameAuthenticationVO">
        select
        t.id as `id`,
        t.name as `name`,
        t.identity_card_front as `identityCardFront`,
        t.identity_card_reverse as `identityCardReverse`,
        t.current_photo as `currentPhoto`,
        CONCAT(SUBSTRING(t.apply_date, 1, 4),'-',SUBSTRING(t.apply_date, 5, 2),'-',SUBSTRING(t.apply_date, 7, 2),' ',SUBSTRING(t.apply_date, 9, 2),':',SUBSTRING(t.apply_date, 11, 2),':',SUBSTRING(t.apply_date, 13, 2)) as `applyDate`
        from
        ${tableName} t
        where t.flag = #{flag}
        <if test="name!=null">
            and t.name like "%"#{name}"%"
        </if>
    </select>
    <update id="realNameAuthenticationPass">
        update
        ${realNameAuthenticationTableName} t
        left join ${userTableName} t1
        on t.id = t1.id
        left join  ${jurisdictionTableName} t2
        on t.id = t2.id
        set t.flag = #{realNameAuthenticationFlag},
        t1.real_name_authentication = #{realNameAuthenticationFlag},
        t2.apply = #{jurisdictionYES},
        t2.my_apply = #{jurisdictionYES},
        t2.my_publish = #{jurisdictionYES},
        t2.apply_for_management = #{jurisdictionYES}
        where t.id = #{id}
    </update>
    <update id="realNameAuthenticationReject">
        update
        ${realNameAuthenticationTableName} t
        left join ${userTableName} t1
        on t.id = t1.id
        left join ${jurisdictionTableName} t2
        on t.id = t2.id
        set t.flag = #{realNameAuthenticationFlag},
        t1.real_name_authentication = #{realNameAuthenticationFlag},
        t2.real_name_authentication = #{jurisdictionYES}
        where t.id = #{id}
    </update>
    <select id="getApplyForManagement" resultType="dingshuangwu.graduation.graduationo2o.pojo.ApplyForManagementVO">
        select
        t.id as `id`,
        t.name as `name`,
        t.context as `context`,
        t.contact_way as `contactWay`,
        CONCAT(SUBSTRING(t.apply_date, 1, 4),'-',SUBSTRING(t.apply_date, 5, 2),'-',SUBSTRING(t.apply_date, 7, 2),' ',SUBSTRING(t.apply_date, 9, 2),':',SUBSTRING(t.apply_date, 11, 2),':',SUBSTRING(t.apply_date, 13, 2)) as `applyDate`
        from
        ${tableName} t
        where t.flag = #{flag}
        <if test="name!=null">
            and t.name like "%"#{name}"%"
        </if>
    </select>
    <select id="getRealNameAuthenticationById" resultType="dingshuangwu.graduation.graduationo2o.pojo.RealNameAuthenticationVO">
        select
        t.identity_card_front as `identityCardFront`,
        t.identity_card_reverse as `identityCardReverse`,
        t.current_photo as `currentPhoto`,
        CONCAT(SUBSTRING(t.apply_date, 1, 4),'-',SUBSTRING(t.apply_date, 5, 2),'-',SUBSTRING(t.apply_date, 7, 2),' ',SUBSTRING(t.apply_date, 9, 2),':',SUBSTRING(t.apply_date, 11, 2),':',SUBSTRING(t.apply_date, 13, 2)) as `applyDate`
        from
        ${tableName} t
        where t.id = #{id}
        and t.flag = #{flag}
    </select>
    <update id="ApplyForManagementPass">
        update
        ${applyForManagementTable} t
        left join ${jurisdictionTableName} t1
        on t.id = t1.id
        set t.flag = #{applyForManagementFlag},
        t1.management = #{jurisdictionYES}
        where t.id = #{id}
    </update>
    <update id="ApplyForManagementReject">
        update
        ${applyForManagementTable} t
        left join ${jurisdictionTableName} t1
        on t.id = t1.id
        set t.flag = #{applyForManagementFlag},
        t1.apply_for_management = #{jurisdictionYES}
        where t.id = #{id}
    </update>
</mapper>